#define __WINDRES
#include "../core/global.h"

"init.py" 257 init.py

"menuNames" 257 BEGIN
0, "file", 0, 
1, "edit", 0,
2, "format", 0, 
3, "tools", 0, 
4, "help", 0, 
IDM_NEW, "new", 0, 
IDM_OPEN, "open", 0, 
IDM_SAVE, "save", 0, 
IDM_SAVE_AS, "saveAs", 0, 
IDM_CLOSE, "close", 0, 
IDM_EXIT, "exit", 0, 
IDM_OPEN_NI, "openInNewInstance", 0, 
IDM_REOPEN, "reload", 0, 
IDM_ABOUT, "about", 0, 
IDM_COPY, "copy", 0,
IDM_PASTE, "paste", 0,
IDM_CUT, "cut", 0,
IDM_UNDO, "undo", 0,
IDM_REDO, "redo", 0,
IDM_SELECTALL, "selectAll", 0,
IDM_FIND, "find", 0,
IDM_FINDNEXT, "findNext", 0,
IDM_FINDPREV, "findPrev", 0,
IDM_REPLACE, "replace", 0,
IDM_GOTOLINE, "goTo", 0,
IDM_OPEN_CONSOLE, "console", 0,
0xFFFF
END

"accel" ACCELERATORS
BEGIN
"^C", IDM_COPY
"^V", IDM_PASTE
"^X", IDM_CUT
"^s", IDM_SAVE
"^o", IDM_OPEN
VK_F3, IDM_FINDNEXT, VIRTKEY
VK_F3, IDM_FINDPREV, SHIFT, VIRTKEY
"^S", IDM_SAVE_AS, SHIFT
"^O", IDM_OPEN_NI, SHIFT
"^a", IDM_SELECTALL
"^g", IDM_GOTOLINE
"^f", IDM_FIND
"^h", IDM_REPLACE
"^z", IDM_UNDO
"^Z", IDM_REDO, SHIFT
VK_F8, IDM_MARKSEL, VIRTKEY
VK_F8, IDM_SELTOMARK, SHIFT, VIRTKEY
VK_F8, IDM_GOTOMARK, ALT, VIRTKEY
//VK_HOME, IDM_REALHOME, ALT, VIRTKEY
//VK_F4, IDM_SWITCHCURSOR, VIRTKEY
//VK_F4, IDM_JOINCURSOR, SHIFT, VIRTKEY
//"^A", IDM_CURSORSELECT, SHIFT
//VK_F5, IDM_RELOAD_FORCEENCODING, CONTROL, VIRTKEY
"^n", IDM_NEW
"J", IDM_QUICKJUMP, ALT, VIRTKEY
VK_TAB, IDM_NEXTPAGE, CONTROL, VIRTKEY
VK_TAB, IDM_PREVPAGE, CONTROL, SHIFT, VIRTKEY
VK_F12, IDM_OPEN_CONSOLE, VIRTKEY
VK_F4, IDM_CLOSE, CONTROL, VIRTKEY
END

"globaccel" ACCELERATORS
BEGIN
VK_F6, IDM_NEXT_MODLESS, VIRTKEY
VK_F6, IDM_PREV_MODLESS, SHIFT, VIRTKEY
VK_DELETE, IDM_CRASH, CONTROL, SHIFT, VIRTKEY
END

IDD_CONSOLE  DIALOG DISCARDABLE 10, 10, 400, 140
CAPTION ""
BEGIN
LTEXT "", 2001, 15, 15, 75, 15
CONTROL L"", 1001, "EDIT", WS_TABSTOP | WS_BORDER | ES_LEFT | ES_AUTOHSCROLL | ES_AUTOVSCROLL | ES_MULTILINE | ES_READONLY, 10, 10, 375, 85
LTEXT "", 2000, 10, 100, 40, 15
CONTROL L"", 1002, "EDIT", WS_TABSTOP | WS_BORDER | ES_LEFT | ES_AUTOHSCROLL, 55, 100, 330, 15
DEFPUSHBUTTON "", 1003, 75, 120, 50, 15, WS_TABSTOP | WS_BORDER
PUSHBUTTON "", 1004, 175, 120, 50, 15, WS_TABSTOP | WS_BORDER
PUSHBUTTON "", IDCANCEL, 275, 120, 50, 15, WS_TABSTOP | WS_BORDER
END

"menu" MENU
BEGIN
POPUP "&File"
BEGIN
POPUP "&New"
BEGIN
MENUITEM "&Text file", IDM_NEW
END
MENUITEM "&Open...", IDM_OPEN
MENUITEM "Open in a new &instance...", IDM_OPEN_NI
MENUITEM "Re&load", IDM_REOPEN
MENUITEM "&Save", IDM_SAVE
MENUITEM "Sa&ve as...", IDM_SAVE_AS
POPUP "&Recent files"
BEGIN
MENUITEM "Dummy", IDM_CRASH
END
MENUITEM "&Close", IDM_CLOSE
MENUITEM "E&xit", IDM_EXIT
END
POPUP "&Edit"
BEGIN
MENUITEM "&Undo", IDM_UNDO
MENUITEM "Re&do", IDM_REDO
MENUITEM "&Copy", IDM_COPY
MENUITEM "C&ut", IDM_CUT
MENUITEM "&Paste", IDM_PASTE
MENUITEM "Select &all", IDM_SELECTALL
MENUITEM "Mar&k current position", IDM_MARKSEL
MENUITEM "Select to mar&k", IDM_SELTOMARK
MENUITEM "Go back to mar&k", IDM_GOTOMARK
//MENUITEM MSG_CURSORSELECT, IDM_CURSORSELECT
//MENUITEM MSG_SWITCHCURSOR, IDM_SWITCHCURSOR
//MENUITEM MSG_JOINCURSOR, IDM_JOINCURSOR
MENUITEM "&Go to...", IDM_GOTOLINE
MENUITEM "&Find...", IDM_FIND
MENUITEM "Search and &replace...", IDM_REPLACE
MENUITEM "Find ne&xt", IDM_FINDNEXT
MENUITEM "Find pre&vious", IDM_FINDPREV
END
POPUP "F&ormat"
BEGIN
POPUP "&Encoding"
BEGIN
MENUITEM "Other...", IDM_OTHER_ENCODINGS
END
POPUP "&Line ending"
BEGIN
MENUITEM "&DOS (CRLF)", IDM_LE_DOS
MENUITEM "UNIX (LF)", IDM_LE_UNIX
MENUITEM "Mac (CR)", IDM_LE_MAC
END
POPUP "&Indentation"
BEGIN
MENUITEM "&Tabs", IDM_INDENTATION_TABS
END
MENUITEM "Automatic line break", IDM_AUTOLINEBREAK
MENUITEM "Font...", IDM_SELECTFONT
//MENUITEM MSG_AUTORELOAD, IDM_AUTORELOAD
//MENUITEM MSG_SMARTHOME, IDM_SMARTHOME
//MENUITEM MSG_KEEPINDENT, IDM_KEEPINDENT
//MENUITEM MSG_SHOWSTATUS, IDM_SHOWSTATUS
END
POPUP "&Tools"
BEGIN
MENUITEM "Python &console", IDM_OPEN_CONSOLE
END
POPUP "&?"
BEGIN
MENUITEM "&About...", IDM_ABOUT
END
END

