#define __WINDRES
#include "global.h"

IDD_INPUT DIALOG DISCARDABLE 10, 10, 400, 70
CAPTION L""
BEGIN
LTEXT L"", 1001, 10, 10, 375, 15
CONTROL L"", 1002, "COMBOBOX", WS_TABSTOP | WS_BORDER | CBS_AUTOHSCROLL | CBS_DROPDOWN, 10, 30, 375, 15
DEFPUSHBUTTON L"", IDOK, 250, 50, 60, 15
PUSHBUTTON L"", IDCANCEL, 325, 50, 60, 15
END

/*IDD_OUTPUT  DIALOG DISCARDABLE 10, 10, 400, 140
CAPTION L""
BEGIN
LTEXT L"", 1001, 10, 10, 375, 15
CONTROL L"", 1002, "EDIT", WS_TABSTOP | WS_BORDER | ES_LEFT | ES_AUTOHSCROLL | ES_AUTOVSCROLL | ES_MULTILINE | ES_READONLY | ES_WANTRETURN, 10, 30, 375, 85
DEFPUSHBUTTON MSG_CLOSE, IDCANCEL, 170, 120, 60, 15, WS_TABSTOP | WS_BORDER
END*/

IDD_CHOICE DIALOG DISCARDABLE 10, 10, 400, 140
CAPTION L""
BEGIN
LTEXT L"", 1001, 10, 10, 375, 15
LISTBOX 1002, 10, 30, 375, 85, WS_TABSTOP | WS_BORDER | LBS_NOTIFY
DEFPUSHBUTTON L"", IDOK, 250, 120, 60, 15
PUSHBUTTON L"", IDCANCEL, 325, 120, 60, 15
END

IDD_GOTOLINE DIALOG DISCARDABLE 10, 10, 400, 50
CAPTION ""
BEGIN
LTEXT "", 1001, 10, 10, 230, 15
CONTROL "", 1002, "EDIT", WS_TABSTOP | WS_BORDER | ES_LEFT, 250, 10, 140, 15
DEFPUSHBUTTON "", IDOK, 250, 30, 60, 15
PUSHBUTTON "", IDCANCEL, 325, 30, 60, 15
END

IDD_SEARCHREPLACE DIALOG DISCARDABLE 10, 10, 480, 120
CAPTION ""
BEGIN
LTEXT "", 2000, 10, 10, 110, 15
CONTROL "", 1001, "COMBOBOX", WS_TABSTOP | WS_BORDER | CBS_AUTOHSCROLL | CBS_DROPDOWN, 125, 10, 350, 15
LTEXT "", 2001, 10, 30, 110, 15
CONTROL "", 1002, "COMBOBOX", WS_TABSTOP | WS_BORDER | CBS_DROPDOWN | CBS_AUTOHSCROLL, 125, 30, 350, 15
AUTOCHECKBOX "", 1004, 10, 50, 110, 15
AUTOCHECKBOX "", 1003, 240, 50, 225, 15 
LTEXT "", 2002, 10, 70, 225, 15
AUTORADIOBUTTON "", 1005, 240, 70, 70, 15, WS_GROUP 
AUTORADIOBUTTON "", 1006, 315, 70, 70, 15 /*down direction*/
DEFPUSHBUTTON "", IDOK, 80, 90, 85, 15, WS_GROUP
PUSHBUTTON "", IDCANCEL, 315, 90, 85, 15
END

/*IDD_PROGRESS DIALOG DISCARDABLE 10, 10, 300, 70
CAPTION L""
BEGIN
CONTROL L"", 1002, PROGRESS_CLASS, WS_BORDER | PBS_SMOOTH, 10, 10, 280, 15
LTEXT L"", 1001, 10, 30, 280, 15
DEFPUSHBUTTON MSG_CANCEL, IDCANCEL, 110, 50, 80, 15
END*/

