#define __WINDRES
#include "main.h"

IDD_OUTPUT  DIALOG DISCARDABLE 10, 10, 400, 140
CAPTION L""
BEGIN
LTEXT L"", 1001, 10, 10, 375, 15
CONTROL L"", 1002, "EDIT", WS_TABSTOP | WS_BORDER | ES_LEFT | ES_AUTOHSCROLL | ES_AUTOVSCROLL | ES_MULTILINE | ES_READONLY | ES_WANTRETURN, 10, 30, 375, 85
DEFPUSHBUTTON L"", IDCANCEL, 170, 120, 60, 15, WS_TABSTOP | WS_BORDER
END

IDD_PROGRESS DIALOG DISCARDABLE 10, 10, 300, 70
CAPTION L""
BEGIN
CONTROL L"", 1002, PROGRESS_CLASS, WS_BORDER | PBS_SMOOTH, 10, 10, 280, 15
LTEXT L"", 1001, 10, 30, 280, 15
DEFPUSHBUTTON L"", IDCANCEL, 70, 50, 60, 15
PUSHBUTTON L"", 1003, 170, 50, 60, 15
END

IDD_TREEVIEW  DIALOG DISCARDABLE 10, 10, 270, 420
EXSTYLE WS_EX_ACCEPTFILES
CAPTION L""
BEGIN
LTEXT L"", 1001, 10, 10, 245, 15
CONTROL L"", 1002, WC_TREEVIEW, WS_TABSTOP | WS_BORDER | TVS_HASBUTTONS | TVS_HASLINES | TVS_LINESATROOT | TVS_TRACKSELECT | TVS_EDITLABELS, 10, 30, 245, 365
DEFPUSHBUTTON L"", IDYES, 60, 400, 60, 15, WS_TABSTOP | WS_BORDER
PUSHBUTTON L"", IDCANCEL, 150, 400, 60, 15, WS_TABSTOP | WS_BORDER
END

IDD_TREEVIEW2  DIALOG DISCARDABLE 10, 10, 270, 420
EXSTYLE WS_EX_ACCEPTFILES
CAPTION L""
BEGIN
LTEXT L"", 1001, 10, 10, 245, 15
CONTROL L"", 1002, WC_TREEVIEW, WS_TABSTOP | WS_BORDER | TVS_HASBUTTONS | TVS_HASLINES | TVS_LINESATROOT | TVS_TRACKSELECT | TVS_EDITLABELS | TVS_TRACKSELECT | TVS_CHECKBOXES, 10, 30, 245, 365
DEFPUSHBUTTON L"", IDYES, 60, 400, 60, 15, WS_TABSTOP | WS_BORDER
PUSHBUTTON L"", IDCANCEL, 150, 400, 60, 15, WS_TABSTOP | WS_BORDER
END

IDD_LISTBOX  DIALOG DISCARDABLE 10, 10, 270, 420
EXSTYLE WS_EX_ACCEPTFILES
CAPTION L""
BEGIN
LTEXT L"", 1001, 10, 10, 245, 15
CONTROL L"", 1002, "EDIT", WS_TABSTOP | WS_BORDER | ES_AUTOHSCROLL, 10, 30, 245, 15
CONTROL L"", 1003, "LISTBOX", WS_TABSTOP | WS_BORDER | WS_HSCROLL | WS_VSCROLL | LBS_NOTIFY, 10, 50, 245, 345
DEFPUSHBUTTON L"", IDYES, 60, 400, 60, 15, WS_TABSTOP | WS_BORDER
PUSHBUTTON L"", IDCANCEL, 150, 400, 60, 15, WS_TABSTOP | WS_BORDER
END

IDD_LISTBOX2 DIALOG DISCARDABLE 10, 10, 270, 420
EXSTYLE WS_EX_ACCEPTFILES
CAPTION L""
BEGIN
CONTROL L"", 1002, "EDIT", WS_TABSTOP | WS_BORDER | ES_AUTOHSCROLL, 10, 30, 245, 15
CONTROL L"", 1003, "LISTBOX", WS_TABSTOP | WS_BORDER | WS_HSCROLL | WS_VSCROLL | LBS_NOTIFY | LBS_MULTIPLESEL, 10, 50, 245, 345
DEFPUSHBUTTON L"", IDYES, 60, 400, 60, 15, WS_TABSTOP | WS_BORDER
PUSHBUTTON L"", IDCANCEL, 150, 400, 60, 15, WS_TABSTOP | WS_BORDER
END




