#define __WINDRES
#include "main.h"

IDD_OUTPUT  DIALOG DISCARDABLE 10, 10, 400, 140
CAPTION L""
BEGIN
LTEXT L"", 1001, 10, 10, 375, 15
CONTROL L"", 1002, "EDIT", WS_TABSTOP | WS_BORDER | ES_LEFT | ES_AUTOHSCROLL | ES_AUTOVSCROLL | ES_MULTILINE | ES_READONLY | ES_WANTRETURN, 10, 30, 375, 85
DEFPUSHBUTTON L"", IDCANCEL, 170, 120, 60, 15, WS_TABSTOP | WS_BORDER
END

IDD_TREEVIEW  DIALOG DISCARDABLE 10, 10, 270, 420
CAPTION L""
BEGIN
LTEXT L"", 1001, 10, 10, 245, 15
CONTROL L"", 1002, WC_TREEVIEW, WS_TABSTOP | WS_BORDER | TVS_HASBUTTONS | TVS_HASLINES | TVS_LINESATROOT | TVS_TRACKSELECT | TVS_EDITLABELS, 10, 30, 245, 365
//DEFPUSHBUTTON L"", IDYES, 60, 400, 60, 15, WS_TABSTOP | WS_BORDER
//PUSHBUTTON L"", IDCANCEL, 150, 400, 60, 15, WS_TABSTOP | WS_BORDER
END


